[Desktop Entry]
Type=Application
Name=Hearthstone Deck Tracker
GenericName=Hearthstone Deck Tracker
Comment=Hearthstone Deck Tracker (Unofficial)
Exec=HearthstoneDeckTracker.sh
Categories=Game;
Icon=com.blizzard.Battlenet.Hearthstone.HearthstoneDeckTracker
Keywords=Hearthstone Deck Tracker;Hearthstone;Blizzard;Battlenet;Battle.net;