[Desktop Entry]
Type=Application
Name=Hearthstone Deck Tracker
GenericName=Hearthstone Deck Tracker
Comment=Hearthstone Deck Tracker (Unofficial)
Exec=HearthstoneDeckTracker
Categories=Game;
Icon=HearthstoneDeckTracker
Keywords=Hearthstone Deck Tracker;Hearthstone;Blizzard;Battle.net;